@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*add form element section*@
<button class="btn btn-primary rounded-pill" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Add Form Element</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Form Elements</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="formElementsCategory">
            <ul id="formElements" class="formElementList bg-indigo-500">
                <li role="button" class="listAddFormElementWrapper bg-indigo-500" data-element-type="formElementHeading">
                    <div class="formElementIcon bg-indigo-700">
                        <span><i class="fas fa-heading fa-sm"></i></span>
                    </div>
                    <div class="formElementName">Heading</div>
                </li>
                <li role="button" class="listAddFormElementWrapper bg-indigo-500" data-element-type="formElementFullName">
                    <div class="formElementIcon bg-indigo-700">
                        <span><i class="fas fa-user-circle fa-sm"></i></span>
                    </div>
                    <div class="formElementName">Full Name</div>
                </li>
                <li role="button" class="listAddFormElementWrapper bg-indigo-500" data-element-type="formElementEmail">
                    <div class="formElementIcon bg-indigo-700">
                        <span><i class="far fa-envelope fa-sm"></i></span>
                    </div>
                    <div class="formElementName">Email</div>
                </li>
            </ul>
        </div>
    </div>
</div>

@*form designer/elemment properties*@
<button class="btn btn-primary rounded-pill" type="button" style="float:right" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Form Designer</button>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Form Designer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <textarea id="default-editor">
        <p><em>Hello</em>, <span style="text-decoration: underline;"><strong>World!</strong></span></p>
</textarea>
    </div>
</div>

<div class="text-center">
    <div class="row">
        <div id="customFormArea" class="col-md-6 mx-auto">
            <div id="customFormWrapper" style="border-radius: 3px; box-shadow: 0 4px 4px rgb(87 100 126 / 21%);">
                <div id="customFormSection" class="position-relative" style="min-height: 64px"></div>
            </div>

            @*            <div class="createdFormElement headingWrapper pad15 formElementSelected position-relative" draggable="false">
            <h2>Heading</h2>

            <div class="selectedControls">
            <button type="button" class="btn btn-secondary blahBtn">
            <i class="fas fa-cog"></i>
            </button>
            <button type="button" class="btn btn-danger blahBtn">
            <i class="fas fa-trash-alt"></i>
            </button>
            </div>
            </div>*@
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.2.0/tinymce.min.js"></script>

<script src="/typescript/FormElements.js"></script>
<script src="/typescript/Utilities.js"></script>
<script src="/typescript/FormBuilder.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        tinymce.init({
            selector: 'textarea#default-editor'
        });

        const formBuilder = new FormBuilder(tinymce);

        new Sortable(formElements, {
            group: {
                name: 'shared',
                pull: 'clone',
                put: false // Do not allow items to be put into this list
            },
            animation: 150,
            sort: false // To disable sorting: set sort to false
        });

        //Change order of form elements
        new Sortable(customFormSection, {
            group: 'shared',
            animation: 150,
            onAdd: function (evt) {
                formBuilder.AddElementFromDrag(evt.item);
            },
            ghostClass: 'draggableGhost'
        });
    });
</script>